# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Build / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Env files
.env


# 데이터
csv/
csv/**
